body {
    font-family: "Poppins";
}

h1, h2, h3 {
    font-family: "Mullish"
}

.header {
    display: block;
}

nav {
    background-color:#FF7C1F;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.card {
    margin-top: 30px;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    opacity: 0.4;
}
