body, a, p {
    font-family: "Poppins";
}

h1, h2, h3, h5 {
    font-family: "Mullish";
}

.header {
    display: block;
}

nav {
    background-color:#ff7c1f;
}

.home-carousel .home-carousel-item {
    height: 700px;
} 

.home-carousel-img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 700px;
} 


.pet-carousel .pet-carousel-item {
    height: 600px;
}  

.pet-carousel-img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 600px;
    /* min-width: 400px; */
} 

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.card {
    margin-top: 30px;
}

.card-body {
    margin: 0px;
}


.header-image{
    width: 100%;
    height: 30vw;
    object-fit: cover;
    opacity: 0.4;
}

.eat-image{
    width: 100%;
    height: 50vw;
    object-fit: none;
    opacity: 0.4;
}

@media screen and (max-width: 768px) {
    .card-img-overlay {
    position: static;
    }
}

#loginModal .modal-header {
    background-color: #ff7c1f;
    color: white;
}

.site-footer {
    background-image: linear-gradient(
        #ff7c1f, white);
    padding: 20px 0;
}

.modal-title {
    color: black;
}

.eat-jumbo {
    margin: 0;
    background-image: url(../img/eat-jumbo.jpg);
    background-size: cover;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.cardOneStandard {
    color: orange;
    background-color: blue;
}

.cardOneChange {
    color: blue;
    background-color: orange;
}

.cardTwoChange {
    color: orange;
    background-color: blue;
}

.cardTwoStandard {
    color: blue;
    background-color: orange;

}

.cardThreeChange {
    color: purple;
    background-color: green;
}

.cardThreeStandard {
    color: green;
    background-color: purple;
}